body {
	padding-top: 50px;
	font-family: dinRegular;

}

@font-face {
    font-family: dinRegular;
    src: url("../fonts/DINRegular.ttf");
}

@font-face {
    font-family: dinMedium;
    src: url("../fonts/DINMedium.ttf");
}

@font-face {
    font-family: dinLight;
    src: url("../fonts/DINLight.ttf");
}

@font-face{
	font-family: missionScript;
	src: url("../fonts/mission-script-webfont.eot");
}

@font-face {
    font-family: missionScript;
    src: url("../fonts/mission-script-webfont.ttf");
}

.navbar-toggle .icon-bar {
	background: #fff !important;

}

.navbar-toggle {
	border: 1px solid #808080 !important;
}

.font-dinMedium {
	font-family: dinMedium;
}

.font-dinRegular {
	font-family: dinRegular;
}

.font-dinLight {
	font-family: dinLight;
}

.font-mission {
	font-family: missionScript;
}

.text-white {
	color:#fff;
}

.section-title {
	font-size: 40px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	color: #fff;
}
.ew-intro {


	background: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0)
	    ),
		url("../images/hiking.jpg");
	background-position: center bottom;
	background-size: auto 110%;
	color:#fff;
	height: 100vh;
	margin-top: -50px;
}

#intro-img {
	position: fixed;
	width: auto;
	height: 100vh;
	z-index: -1;
	top: 0;
	right: 0;

}

/*.intro-content 
{	margin-top: 25vh !important;
    margin-bottom: 25vh !important;
    height: 50vh;
}*/

/*.intro-content.continent
{	margin-top: 25vh !important;
    margin-bottom: 25vh !important;
    height: 50vh;
}*/


#guidebook-img {
	width: 100%;
}

.get-started-button {
	text-align: left;

}

#adventure-img {
	width: 100%;
	margin-bottom: 30px;
}

#download-img {
	margin-bottom: 15px;
}

.leckerli-font {
	font-family: 'Leckerli One', cursive;
}


.font-size-80 {
	font-size: 100px;
}

.font-size-15	 {
	font-size: 15px;
}

.font-size-20	 {
	font-size: 20px;
}

.font-size-45 {
	font-size: 45px;
}


.intro-title {
	font-size: 100px;
	line-height: 130px;
	float: left;
	text-align: center;
	width: 100%;

}

.dropdown-menu {
	width: 100%;
}



.padding-top-35{
	padding-top:35px;
}




.color-border {

/*	background: repeating-linear-gradient(
      to right, 
      transparent,
      transparent 5px,
      #00956d 5px,
      #00956d 5px,
      transparent 5px,
      transparent 5px,
      #dbb313 5px,
      #dbb313 5px,   
      transparent 5px
    );*/
	background: url("../images/color-border.png");
	background-size: auto 100%;
background-repeat: repeat-x;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	height: 10px;



}

.download-btn {
	border: 1px solid #fff !important;
}

.position-absolute {
	position: absolute;
}

.bottom-0 {
	bottom: 0;
}


.continue-button {
	font-size: 40px;
	color:#fff !important;
	line-height: 40px;
	width: 80px;
	height: 80px;
	border: solid 3px #fff;
	margin-left: auto;
	margin-right: auto;
	display: table;
	border-radius: 40px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	margin-bottom: 20px;
}

.continue-button > .glyphicon {
	font-size: 40px;
	line-height: 40px;
	display: table-cell;
	vertical-align: middle;
}

.intro-text {
    font-size: 20px;
    line-height: 25px;
	font-family: dinRegular;
	text-align: center;
	margin-top: 35px;
}

.adventure-large {
	font-size: 170px;
}


.download-headline {
	font-size: 50px;
	font-size: 3vw;

}

.ew-download-guide {
	background: #0079AC;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-dark-blue {
	color: #3399FF;
}

.text-grey {
	color: #38424c;
	font-weight: bold;
}


.ew-step-1 {
	background: #343e48;
	background-size: cover;
	color:#fff;
}

.ew-step-2 {
	background: #343e48;
	background-size: cover;
	color:#fff;
}

.ew-contact {
	background: #5a6770;
	color: #fff;
}

.ew-connect {
	background: #343e48;
	color: #fff;
}

.connect-icon {
	width: 100%;
}

.ew-section {
	padding-top: 0px;
	padding-bottom: 0px;
/*transition: 0.1s ease;
transform: translate3d(0, 0, 0);*/
}

.ew-section > div{
	margin-top: 50px;
	margin-bottom: 50px;

}

.inset-top-shadow {
	    box-shadow: inset 0 14px 14px -14px rgba(0,0,0,0.6);
}


#contact-name, #contact-email, #contact-message {

	border: solid 2px #fff;
	border-radius: 5px;
	padding: 5px;
	color: rgba(255, 255, 255, 0.7);
}
#contact-message {
	height: 200px;
}



.contact-field {
/*	padding-left: 7.5px;
	padding-right: 7.5px;
*/
	padding-top: 15px;

}

.text-shadow {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.font-size-25 {
	font-size: 25px;
}

.font-size-20 {
	font-size: 20px;
}

.width-75 {
	width: 75%;
}

.width-100 {
	width: 100%;
	display: inline-block;
}

.height-150-px {
	height: 150px;
}


.contact-more-info {
	padding-left: 30px;
	border-left: solid 1px #fff;
	height: 300px;

}

.margin-bottom-15 {
	margin-bottom: 15px;
}


.margin-bottom-40 {
	margin-bottom: 40px;
}


.margin-top-15 {
	margin-top: 15px;
}

.margin-top-10 {
	margin-top: 10px;
}


.margin-top-50 {
	margin-top: 50px;
}


.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.no-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.no-padding {
	padding: 0 !important;
}


.choose-research-text {
	font-size: 100px;
	line-height: 100px;
}

.margin-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

/* BOOTSTRAP CHANGES*/

.row {
	width: 100%;
	max-width:100%;
	    margin-left: 0 !important;
	    margin-right: 0 !important;
}



.container-fluid.ew-content {
	padding-left: 0;
	padding-right: 0;
}

.btn-ew {
    color: #fff;
    background-color: #0876ab;
    border-color: #0876ab;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 20px;
/*
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);*/
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.btn-ew:hover {
    color: #0876ab;
    background-color: #fff;

/*
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);*/
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.ease-transition {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}



.navbar-ew {
    background-color: #38424c;
    border-color: #38424c;
}

.navbar-brand > img {
	height: 100%;
	width: auto;
}

.navbar-brand {
	padding:8px;
}

.navbar > .container-fluid {
	padding-left: 150px;
	padding-right: 150px;
}






.research-section-background {
/*	background-size: auto 150% !important;*/
	height: auto;
}



.height-100 {
	height: 100%;
}

.research-type-content {
	height: 85%;
	padding-top: 50px;

	padding-left: 0px;
	padding-right: 0px;
}
.research-type-continue {
	height: 15%;


}

.research-type-continue > p {
	font-size: 13px;
	opacity: 0.5;

}

.research-type-continue:hover > p {
	font-size: 15px;
	opacity: 1;

}




.expedition-card-img {
	background-size: auto 100%;
}


@media (max-height : 844px) and (min-width:692px){
	@media (min-width:692px) {
		.ew-intro, .ew-continent-intro, #research-anchor {
			height: auto;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
			margin-top: 0px !important;;
			margin-bottom: 0px !important;;

		}

	}

}

@media (min-height : 845px)  and (min-width:692px){
	@media (min-width:692px) {
		.ew-intro {
			height: calc(100vh - 50px);
			padding-top: 25vh !important;
			padding-bottom: 25vh !important;
			margin-top: 0px !important;;
			margin-bottom: 0px !important;;

		}

		 #research-anchor {
			height: calc(100vh - 50px);

			margin-top: 0px !important;;
			margin-bottom: 0px !important;;

		}
	}
}




/*CONTINENT PAGE*/



@media (max-height : 599px) {
	
		.research-section, .research-section-background {
			height: auto;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
			margin-top: 0px !important;;
			margin-bottom: 0px !important;;

		}
	



}

@media (min-height : 600px){
	
		.research-section, {
			height: 100%;
			padding-top: 5% !important;
			padding-bottom: 0% !important;
			margin-top: 0px !important;;
			margin-bottom: 0px !important;;
			min-height: 500px;
		}
	
}




@media (max-height : 844px){
	@media (min-width:692px) {
		.ew-continent-intro, .ew-section {
			height: auto;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
			margin-top: 0px !important;;
			margin-bottom: 0px !important;;

		}
	}
}

@media (min-height : 845px){
	@media (min-width:692px) {
		.ew-continent-intro {
			height: calc(100vh - 50px);
			padding-top: 25vh !important;
			padding-bottom: 25vh !important;
			margin-top: 0px !important;;
			margin-bottom: 0px !important;;

		}
	}
}



.research-section-title {
	font-size: 100px;
	line-height: 100px;
}

#wildlife-section {
	background: url("../images/africa-wildlife-bg.jpg");
/*	height: 100vh;*/


}

#climate-section {
	background: url("../images/africa-CC-bg.jpg");
}

#ocean-section {
	background: url("../images/africa-ocean-bg.jpg");

}


#archeology-section {
	background: url("../images/africa-arch-bg.jpg");
}


.ew-continent-intro {
	height: auto;

	background: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0)
	    ),
		url("../images/africa_intro-bg.jpg");
	background-position: center bottom;
	background-size: 100% auto;
/*	color:#fff;
	margin-top: -50px;*/
/*	padding-top: 80px;*/
}




.intro-content.continent
{	
    height: auto;
    min-height: 85%;
    margin: 0 !important;

}



.get-started-button.continent {
	text-align: center;
}


.intro-title.continent {
	text-align: center;
	margin-bottom: 20px;

}

.map-row.continent {
	background: none;
}

.research-icon {
	float: left;
/*	width: 75px;
	margin-right: 12.5px;
	margin-left: 12.5px;;*/
	width: 10%;
	max-width: 30px;

}


.research-icon-headline {
	font-size: 20px;
	display: inline;
	float: left;
	/*width: 88%;*/
	margin-left: 2%;
	text-align: left;
}

.research-icon-text {
	font-size: 15px;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	display: block;
}

.research-select {
	text-decoration: none !important;
	text-transform: uppercase;
	font-weight: bold;
	width: auto;
	font-size: 15px;
	display: inline-block;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.research-select.research-section-button {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
}


.research-select:hover {
	outline-width: 1px !important;
	text-decoration: none;
	color: #343e48;
}

.research-select:hover >div {

	color: #343e48 !important;
}

.research-select > a {
	text-decoration: none;
}

.ew-activity-level  {

	background: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.3), 
	      rgba(0, 0, 0, 0)
	    ),
		url("../images/africa_activity-level-background.jpg");

	background-size: auto 150%;
	color:#fff;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 100vh;

}

#expedition-cards {
	max-height: 750px;
	/*overflow: scroll;*/
}

.research-expedition-cards {
	max-height: 500px !important;
}

.intro-text.research-text {
	font-size: 20px;
	line-height: 20px;
}
/*
#slider {
	background: repeating-linear-gradient(
	  to right,
	  #fff,
	  #fff 1px,
	  rgba(0,0,0,0) 2px,
	  rgba(0,0,0,0) 6px
	);
	border: none;
	border-radius: 0;
}

#slider-row {
	margin-top: 15px;
	margin-bottom: 10px;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: -25px;
    color: #fff;
    font-family: dinRegular;
}
*/

.activity-level-dropdown, .activity-level-dropdown>.input-group, .activity-level-dropdown > .dropdown-menu {
	width: 100%;
	border: #fff;
}
.activity-level-dropdown>button {
	border: solid 1px #fff;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.activity-level-dropdown > .input-group >.form-control:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.display-block {
	display: block;
}

.activity-tabs > div {
	width: 13%;
	text-align: center;
	display: inline-block;
	font-size: 12.5px;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	font-weight: bold;
	padding: 5px;
	cursor:pointer;
/*	border-bottom: 5px solid transparent;*/

}

.activity-tabs > div:hover {
	background: rgba(255,255,255,0.5);
	color:#fff;
/*	border-bottom: 10px solid rgba(255,255,255,0.5);*/

}

.activity-tabs > div.active-level {
	background: rgba(255,255,255,1);
	color: #343e48;
	font-weight: bold;
	text-shadow:none;
	/*border-bottom: 10px solid rgba(255,255,255,1);*/

}

.activity-tabs > div.inactive-level{
	background: rgba(84,84,84,0.7);
}

.activity-tab-info-text {
	border: 2px solid #fff;
	background: #fff;

	border-radius: 5px;
	padding: 5px;
	opacity: 0;

}

.activity-tab-info-text.active {
	opacity: 1;
}


.activity-tabs-arrows {
	height: 10px;
	margin-top: -6px;
	margin-bottom: 5px;
}

.activity-tabs-arrows > div {
	width: 13.88%;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	line-height: 10px;
	height: 10px;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	font-weight: bold;
	padding: 0;
	opacity: 0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
/*	border-bottom: 5px solid transparent;*/

}
/*
.activity-tabs-arrows > div:hover {
	color:#fff;
	opacity: 0.5;


}*/

.activity-tabs-arrows > div.active-level {
	opacity: 1;
	color: #fff;
	font-weight: bold;
	text-shadow:none;
	/*border-bottom: 10px solid rgba(255,255,255,1);*/

}




.activity-tabs-border {
	background: repeating-linear-gradient(
	  to right,
	  #fff,
	  #fff 1px,
	  rgba(0,0,0,0) 2px,
	  rgba(0,0,0,0) 6px
	);
	width: 100%;
	height: 10px;
}
/*.ui-slider-handle.ui-state-default.ui-corner-all {
	border: none !important;
	background: #fff !important;
}*/

.gradient-fade {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0;
	height: 100px;
}

.gradient-img {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 100%;

}


.scroll-top {
	text-decoration: none;
	padding: 5px;
	border: solid 1px rgba(0,0,0,0);
	display: inline-block;

	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.scroll-top.light:hover {
	text-decoration: none;
	border: solid 1px #fff;
	border-radius: 4px;
}

.scroll-top.dark:hover {
	text-decoration: none;
	outline: solid 1px #fff;
	border-radius: 4px;
}

.scroll-top.light {
	color: #fff !important;
}

.scroll-top.dark {
	color: #343e48 !important;
}

.no-margin {
	margin: 0 !important;
}

.border-bottom-dotted {
	border-bottom: dotted #fff 4px;
}

.expedition-card {
	background: rgba(255, 255, 255, 1);
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #333;
}

.expedition-card-headline {
	font-size: 24px;
	line-height: 25px;
}

.expedition-card-subheadline {
	font-size: 15px;

}
.detail-category {
	margin-bottom: 7px;
}

.expedition-img {
	width:100%;
}

.expedition-img-small {
	width: 100%;

}
.expedition-card-btn {
	padding-top:15px;
}

.text-green {
	color: #00956d !important;
}


.no-background:hover {
	background: transparent;
}



.outline-green {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;	
	border: solid 1px #00956d !important;
	background: #00956d !important;
}


.outline-white {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;	
	border: solid 1px #fff !important;
	background: #fff !important;
}


.text-blue {
	color: #31b1ca !important;
}

.outline-blue {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;	
	border: solid 1px #31b1ca !important;
	background: #31b1ca !important;
}

.text-orange {
	color: #e25829 !important;
}

.outline-orange {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;	
	border: solid 1px #e25829 !important;
	background: #e25829 !important;
}


.text-yellow {
	color: #dbb313 !important;
}

.outline-yellow {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;	
	border: solid 1px #dbb313 !important;
	background: #dbb313 !important;
}

.select-inverse {
	color: #343e48 !important;
}
.no-background {
	background: none !important;
}

.country-land.continent {
	fill:rgba(255, 255, 255, 0.2);
filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.research-select-div {
	text-align: center;
	float: right;
}




.padding-15 {
	padding: 15px;
}

.activity-level-text {
	font-size: 20px;
}

@media (min-width : 768px){
	.equal-height {
		float: none;
		display: table-cell;
	}
}



@media (max-width : 1200px){

	.step-subtitle {
		font-size: 25px;
	}
	#expedition-cards {
		max-height: 750px;
		/*overflow: scroll;*/
	}
	.padding-small {
		padding-left: 15px;
		padding-right: 15px;
	}
	.expedition-card-details {
		text-align: left;
	}

	.section-title.download-title {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.research-select-div {
/*		position: absolute;
		bottom: 0;*/

	}


}
 
@media (max-width : 979px){

}
 
@media (max-width : 767px){


	.intro-title {
	    font-size: 40px;
	    line-height: 60px;
	    float: left;
	    text-align: center;
	    width: 100%;
	}

	.adventure-large {
		font-size: 80px;
	}


	.research-description {
		font-size: 15px;
		line-height: 20px;
	}

	#ew-continent-intro {
		padding-top: 100px;
	}

	.research-select-div {
/*		position: relative;
		bottom: 0;*/

	}

	.research-section-background {
		background-size: auto 150%;
	}

	.research-icon-headline {
		font-size: 17px;
	}

	.research-select {
		text-align: center;
	}

	.research-section-title {
		font-size: 50px;
		line-height: 50px;
	}
	.intro-text {
		font-size: 15px;
	}

	.activity-level-text {
		font-size: 15px;
	}
	.step-title-name {
		font-size: 40px;
		line-height: 40px;
	}
	.step-title {
		font-size: 30px;
	}
	.step-subtitle {
		font-size: 20px;
	}
/*	#mCSB_1_scrollbar_vertical {
		display: none !important;
	}*/
	#expedition-cards {
		max-height: none;
		/*overflow: scroll;*/
	}

	.expedition-card {
		background: #fff;
		/*overflow: scroll;*/
	}
	.padding-small {
		padding-left: 15px;
		padding-right: 15px;
	}
	.expedition-card-img {
		padding: 0;
	}
	.expedition-card-description {
		margin-top: 10px;
	}
	.expedition-card-btn > a {
		width: 95%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		border-color: #0876ab;
		color:#0876ab;
		font-size: 3vw;
		background: none;
		text-shadow:none;
		box-shadow: none;
	}

.expedition-card-headline {
    font-size: 5vw !important;
     line-height: 5vw !important; 
}
	.expedition-card-btn > a:hover {

		color:#0876ab;
		outline: 2px solid #0876ab; 
	}
	.margin-bottom-10-small {
		margin-bottom: 15px;
	}
	.expedition-card-details {
		text-align: center;
	}
	.contact-more-info {
		padding-left: 15px;
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px solid #fff
	}

	.section-title.download-title {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.navbar-collapse {
		background: #eee;
	}

	.navbar-collapse >ul > li{
		border-bottom: 1px solid #B8B8B8;
	}

	.navbar-collapse >ul {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
 
@media (max-width : 480px){
 
}
 
@media (max-width : 320px){

}




















/*LARGE*/
@media  (min-width : 992px){
	.research-select-div {
		text-align: center;
		float: none;
	}
	.research-select {
		font-size: 25px;
	}

	.research-icon-text {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.research-icon-headline{
		margin-bottom: 15px;
	}

}




@media (max-width: 991px) {
	.contact-more-info {
		border-left: none;
	}
}



@media (min-width: 768px) {


	.navbar-nav>li>a {
	    padding-top: 5px;
	    padding-bottom: 15px;
	    color: #fff;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
	}

	.navbar-nav>li {
	        border-top: solid 10px #fff;
	        margin-right: 5px;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;

	}


	.navbar-nav>li:hover, .navbar-nav>li>a:hover {
		background: #fff;

		color: #0876ab;

	}


	.navbar-nav>li.active-tab {
	        border-top: solid 10px #0876ab;


	}

	.contact-field.contact-name {
		padding-right: 7.5px;
	}

	.contact-field.contact-email {
		padding-left: 7.5px;
	}

	.contact-more-info {
		padding-left: 30px;
		border-left: solid 1px #fff;
		height: 300px;

	}
	#guidebook-img {
		width: 100%;
	}









/* Custom, iPhone Retina */
@media (min-width : 320px){


	.ew-download-guide > div{
/*		margin-top: 0px;
		margin-bottom: 0px;*/

	}

	.get-started-button {
		text-align: center;
	}
	.intro-title {
		font-size: 80px;
		line-height: 130px;

	}
	.research-icon {
		width: 50px;
	}


}

/* Extra Small Devices, Phones */
@media (min-width : 480px){

/*	.ew-download-guide > div{
		margin-top: 0px;
		margin-bottom: 0px;

	}*/
	.get-started-button {
		text-align: left;
	}
	.intro-title {
		font-size: 80px;


	}

	.adventure-large {
		font-size: 140px;
	}


}


/* Smaller Devices, Tablets */
@media (min-width : 690px){
	.intro-title {
		font-size: 100px;
		line-height: 130px;

	}

	.adventure-large {
		font-size: 170px;
	}
	.research-icon {
		width: 50px;
	}


}


/* Small Devices, Tablets */
@media (max-width : 768px){


	.ew-download-guide > div{
		margin-top: 30px;
		margin-bottom: 30px;

	}
	.get-started-button {
		text-align: left;
	}

	.intro-title {
		font-size: 100px;
		line-height: 130px;


	}

	.adventure-large {
		font-size: 170px;
	}
	.research-icon {
		width: 50px;
		margin-right: auto;
		margin-left: auto;
	}
	.research-icon-headline {
		text-align: left;
		padding-left: 10px; 

	}


	.research-icon-text {
		text-align: left;
		display: block;
	}


}


/* Medium Devices, Desktops */
@media (min-width : 992px){


	#map-continent-name {
		font-size: 30px;
		line-height: 30px;
	}

	.ew-download-guide > div{
		margin-top: 30px;
		margin-bottom: 30px;

	}
	.intro-title {
		font-size: 100px;
		line-height: 130px;


	}

	.adventure-large {
		font-size: 170px;
	}


	.contact-more-info {
		padding-left: 15px;
		height: 300px;
		border-left: none;
		margin-top: 15px;
		padding-top: 15px;
		text-align: left;
		
	}
	#guidebook-img {
		width: 100%;
	}
	.section-title {
		font-size: 40px;
	}
	.section-title.download-title {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 10px;
	}

	.ew-download-guide {

		padding-top: 25px !important;
	}

	.research-icon {
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		margin-bottom: 12.5%;
		max-width: none;
	}
	.research-icon-headline {
		text-align: center;
		display: block;
		float: left;
		width: 100%;
	}


	.research-icon-text {
		text-align: center;
		display: block;
	}

	.research-select


}



/* Large Devices, Wide Screens */
@media (min-width : 1200px){

	.get-started-button {
/*	    padding-top: 30px;*/
		text-align: center;

	}


	.max-width-1300 {
		max-width: 1300px;
		margin-left: 0;
		margin-right: auto;
	}

	.get-started-button > a {
/*	    width: 25%;*/
		margin-top: 30px;
	    padding: 15px;
	   	padding-bottom: 10px;
	}
	#map-continent-name {
		font-size: 40px;
		line-height: 40px;
	}


	.intro-title {
		font-size: 100px;
		line-height: 130px;
	/*	float: right;*/
		text-align: center;

	}
	.adventure-large {
		font-size: 170px;
	}
.intro-text {
	font-size: 30px;
	line-height: 30px
}
	.contact-more-info {
		padding-left: 15px;
		height: 300px;
		border-left: none;
		margin-top: 15px;
		padding-top: 15px;
		text-align: left;
		
	}
	#guidebook-img {
		width: 100%;
	}
	.section-title {
		font-size: 40px;
	}
	.section-title.download-title {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 10px;
	}

	.ew-download-guide {

		padding-top: 25px !important;
	}



}





.navbar-nav>li>a {
    color:#fff;
    background: none;
}

.navbar-nav>li {
    color:#fff;
    background: none;
}

.navbar-nav>li>a:hover {
    color:#0876ab;
}



.max-width-1000 {
	max-width: 1000px;
	margin-left: auto !important;
	margin-right: auto !important;
}


/*MAP STYLING*/

#map {
	/*width: 1000px;*/
    /*height: 900px;*/
}

#map-container {
	/*width: 1000px;*/
    /*height: 900px;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#map-compass {
	bottom: 0;
	width: 100%;
}

#map-compass > img {

	width: 100%;
}

.bottom-0 {
	bottom: 0;
}

.position-absolute {
	position: absolute;
}

.height-500 {
	height: 500px;
}

.map-row {
	background-color: #f4f1f0;
	padding-top: 30px;
	padding-bottom: 30px;
}

#map-continent-name {
	/*font-size: 40px;*/
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

#map-continent-description {
	font-size: 1.2vw;
	margin-bottom: 15px;
}

.country-outline {
	fill: none;
	stroke: rgba(255,255,255,0.9);
}

.country-land {
	fill:none;
	stroke: rgba(255,255,255,0.9);
}


.country-no-fill {
	fill:none !important;
}

/*NORTH AMERICA*/
.continent-northamerica {
	fill: #06966f !important;
	stroke:none !important;
}

.continent-northamerica:hover {
	opacity: 0.5
}

/*SOUTH AMERICA*/
.continent-southamerica {
	fill: #e25929 !important;
	stroke:none !important;
}

.continent-southamerica:hover {
	opacity: 0.5
}

/*europe*/
.continent-europe {
	fill: #31b0c9 !important;
	stroke:none !important;
}

.continent-europe:hover {
	opacity: 0.5
}


/*africa*/
.continent-africa {
	fill: #dcb312 !important;
	stroke:none !important;
}

.continent-africa:hover {
	opacity: 0.5
}


/*asia*/
.continent-asia {
	fill: #1675a9 !important;
	stroke:none !important;
}

.continent-asia:hover {
	opacity: 0.5
}

.list-group {
	margin-bottom: 0;
	margin-top:15px;
}






.max-width-1300 {
	max-width: 1300px;
	margin-left: auto !important;
	margin-right: auto !important;
}



/*RANGESTEPPER*/

/**
 * rangestepper.css 0.1
 *
 *
 * (c) 2014+ Radu-Sebastian Amarie
 * http://skidding.mit-license.org
 */



.rangestepper {
  width: 100%;
  height: 15px;
  position: relative;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.dragger {
  margin-top: -23px;
  text-align: center;
  display: block;
  position:relative;
}

.dragger .arrow {
  width: 14px;
  height: 16px;
  position: relative;
  background: none;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 2px 2px 0 0;
  color:#fff;
  cursor: ew-resize;
}

.dragger .arrow:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dragger .arrow:before {
  border-top-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}

.rangestepper .step {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  cursor:pointer;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.rangestepper.subscript .step:nth-child(odd):after{
  content:attr(data-val);
  color:#595959;
  font-size: 80%;
  position: absolute;
  bottom: -20px;
  text-align: center;
  width: 14px;
}

.rangestepper .rangeline{
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 0;

  height: 5px;
  background-color: #fff;

}

.rangestepper .step .active{
  width: 10px;
  height: 10px;
  background-color:#fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 7px;
}

.rangestepper .stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
